Henter Data

In [25]:
import requests
import pandas as pd
from IPython.display import display
import matplotlib.pyplot as plt

In [26]:
# Load the Excel file, specifying the header rows
file_path = 'Historisk Index data.xlsx'
df = pd.read_excel(file_path, header=[2])

# Display the loaded DataFrame
# Juster displayindstillingerne
pd.set_option('display.max_columns', None)  # Vis alle kolonner
pd.set_option('display.expand_frame_repr', False)  # Forhindr brud på linjer
pd.set_option('display.max_colwidth', None)  # Vis fulde kolonnebredder
print(df.head())

       Dates  Danmark    USA  England  Tyskland  Frankrig  Italien  Spanien  Holland  Sverige  SCHWEIZ  Finland  Belgien  Østrig  Portugal  Grækenland  Irland  Luxembourg  TJEKKIET  POLAN  UNGARN  NORWAY
0 1927-12-30      NaN  17.66      NaN       NaN       NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN     NaN       NaN         NaN     NaN         NaN       NaN    NaN     NaN     NaN
1 1928-01-02      NaN  17.66      NaN       NaN       NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN     NaN       NaN         NaN     NaN         NaN       NaN    NaN     NaN     NaN
2 1928-01-03      NaN  17.76      NaN       NaN       NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN     NaN       NaN         NaN     NaN         NaN       NaN    NaN     NaN     NaN
3 1928-01-04      NaN  17.72      NaN       NaN       NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN     NaN       NaN         NaN     NaN         NaN       NaN    NaN     NaN     NaN
4 1928-01-05      NaN  17.55      NaN       NaN       NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN     NaN       NaN         NaN     NaN         NaN       NaN    NaN     NaN     NaN

Election data

In [27]:
# Define election dates DK
DK_election_dates = [
    '1988-05-10',  # 1988 election (Blå)
    '1990-12-12',  # 1990 election (Blå)
    '1994-09-21',  # 1994 election (Rød)
    '1998-03-11',  # 1998 election (Rød)
    '2001-11-20',  # 2001 election (Blå)
    '2005-02-08',  # 2005 election (Blå)
    '2007-11-13',  # 2007 election (Blå)
    '2011-09-15',  # 2011 election (Rød)
    '2015-06-18',  # 2015 election (Blå)
    '2019-06-05',  # 2019 election (Rød)
    '2022-11-01'   # 2022 election (Rød)
]

# Convert election dates to datetime objects
DK_election_dates = pd.to_datetime(DK_election_dates)

# Create a list to define the periods of "Rød" and "Blå"
DK_periods = [
    ('1988-05-10', '1990-12-11', 'Blå'),  # Post-1988 election
    ('1990-12-12', '1994-09-20', 'Blå'),  # Post-1990 election
    ('1994-09-21', '2001-11-19', 'Rød'),  # Post-1994 election
    ('2001-11-20', '2011-09-14', 'Blå'),  # Post-2001 election
    ('2011-09-15', '2015-06-17', 'Rød'),  # Post-2011 election
    ('2015-06-18', '2019-06-04', 'Blå'),  # Post-2015 election
    ('2019-06-05', '2024-08-08', 'Rød')   # Post-2019 election
]

In [28]:
# Define election dates USA
USA_election_dates = [
    '1992-11-03',
    '1996-11-05',
    '2000-11-07',
    '2004-11-02',
    '2008-11-04',
    '2012-11-06',
    '2016-11-08',
    '2020-11-03'
]

# Convert election dates to datetime objects
USA_election_dates = pd.to_datetime(USA_election_dates)

# Define the winning parties (Republican = Blå, Democrat = Rød)
USA_periods = [
    ('1992-11-03', '2000-11-06', 'Rød'),  # Democrat
    ('2000-11-07', '2008-11-03', 'Blå'),  # Republican
    ('2008-11-04', '2016-11-07', 'Rød'),  # Democrat
    ('2016-11-08', '2020-11-02', 'Blå'),  # Republican
    ('2020-11-03', '2024-11-04', 'Rød')   # Democrat
]

In [29]:
# Define election dates UK
UK_election_dates = [
    '1992-04-09',
    '1997-05-01',
    '2001-06-07',
    '2005-05-05',
    '2010-05-06',
    '2015-05-07',
    '2017-06-08',
    '2019-12-12'
]

# Convert election dates to datetime objects
UK_election_dates = pd.to_datetime(UK_election_dates)

# Define the winning parties (Conservative = Blå, Labour = Rød)
UK_periods = [
    ('1992-04-09', '1997-04-30', 'Blå'),  # Conservative
    ('1997-05-01', '2010-05-05', 'Rød'),  # Labour
    ('2010-05-06', '2024-05-05', 'Blå')   # Conservative
]

In [30]:
# Define election dates DE
DE_election_dates = [
    '1990-12-02',
    '1994-10-16',
    '1998-09-27',
    '2002-09-22',
    '2005-09-18',
    '2009-09-27',
    '2013-09-22',
    '2017-09-24',
    '2021-09-26'
]

# Convert election dates to datetime objects
DE_election_dates = pd.to_datetime(DE_election_dates)

# Define the winning parties (CDU/CSU = Blå, SPD = Rød)
DE_periods = [
    ('1990-12-02', '1998-09-26', 'Blå'),  # CDU/CSU
    ('1998-09-27', '2005-09-17', 'Rød'),  # SPD
    ('2005-09-18', '2021-09-25', 'Blå'),  # CDU/CSU
    ('2021-09-26', '2025-09-30', 'Rød')   # SPD
]

In [31]:
# Define election dates FR
FR_election_dates = [
    '1995-05-07',
    '2002-05-05',
    '2007-05-06',
    '2012-05-06',
    '2017-05-07',
    '2022-04-24'
]

# Convert election dates to datetime objects
FR_election_dates = pd.to_datetime(FR_election_dates)

# Define the winning parties (RPR/UMP = Blå, PS = Rød, REM = Center, treated as Blå here)
FR_periods = [
    ('1995-05-07', '2012-05-05', 'Blå'),  # RPR/UMP
    ('2012-05-06', '2017-05-06', 'Rød'),  # PS
    ('2017-05-07', '2027-04-23', 'Blå')   # REM
]

In [32]:
# Define election dates IT
IT_election_dates = [
    '1994-03-27',
    '1996-04-21',
    '2001-05-13',
    '2006-04-09',
    '2008-04-13',
    '2013-02-24',
    '2018-03-04',
    '2022-09-25'
]

# Convert election dates to datetime objects
IT_election_dates = pd.to_datetime(IT_election_dates)

# Define the winning parties (Center-right = Blå, Center-left = Rød)
IT_periods = [
    ('1994-03-27', '1996-04-20', 'Blå'),  # Center-right
    ('1996-04-21', '2001-05-12', 'Rød'),  # Center-left
    ('2001-05-13', '2006-04-08', 'Blå'),  # Center-right
    ('2006-04-09', '2008-04-12', 'Rød'),  # Center-left
    ('2008-04-13', '2013-02-23', 'Blå'),  # Center-right
    ('2013-02-24', '2018-03-03', 'Rød'),  # Center-left
    ('2018-03-04', '2022-09-24', 'Blå'),  # Center-right
    ('2022-09-25', '2027-09-24', 'Blå')   # Center-right
]

In [33]:
# Define election dates ES
ES_election_dates = [
    '1993-06-06',
    '1996-03-03',
    '2000-03-12',
    '2004-03-14',
    '2008-03-09',
    '2011-11-20',
    '2015-12-20',
    '2016-06-26',
    '2019-04-28',
    '2019-11-10'
]

# Convert election dates to datetime objects
ES_election_dates = pd.to_datetime(ES_election_dates)

# Define the winning parties (PP = Blå, PSOE = Rød)
ES_periods = [
    ('1993-06-06', '1996-03-02', 'Rød'),  # PSOE
    ('1996-03-03', '2004-03-13', 'Blå'),  # PP
    ('2004-03-14', '2011-11-19', 'Rød'),  # PSOE
    ('2011-11-20', '2023-12-19', 'Blå')   # PP
]

In [34]:
# Define election dates NL
NL_election_dates = [
    '1994-05-03',
    '1998-05-06',
    '2002-05-15',
    '2003-01-22',
    '2006-11-22',
    '2010-06-09',
    '2012-09-12',
    '2017-03-15',
    '2021-03-17'
]

# Convert election dates to datetime objects
NL_election_dates = pd.to_datetime(NL_election_dates)

# Define the winning parties (VVD = Blå, PvdA = Rød)
NL_periods = [
    ('1994-05-03', '2002-05-14', 'Rød'),  # PvdA
    ('2002-05-15', '2024-03-16', 'Blå')   # VVD
]

In [35]:
# Define election dates SE
SE_election_dates = [
    '1991-09-15',
    '1994-09-18',
    '1998-09-20',
    '2002-09-15',
    '2006-09-17',
    '2010-09-19',
    '2014-09-14',
    '2018-09-09',
    '2022-09-11'
]

# Convert election dates to datetime objects
SE_election_dates = pd.to_datetime(SE_election_dates)

# Define the winning parties (Moderate Party = Blå, Social Democrats = Rød)
SE_periods = [
    ('1991-09-15', '1994-09-17', 'Blå'),  # Moderate Party
    ('1994-09-18', '2006-09-16', 'Rød'),  # Social Democrats
    ('2006-09-17', '2014-09-13', 'Blå'),  # Moderate Party
    ('2014-09-14', '2027-09-10', 'Rød')   # Social Democrats
]

In [36]:
# Define election dates CH
CH_election_dates = [
    '1991-10-20',
    '1995-10-22',
    '1999-10-24',
    '2003-10-19',
    '2007-10-21',
    '2011-10-23',
    '2015-10-18',
    '2019-10-20'
]

# Convert election dates to datetime objects
CH_election_dates = pd.to_datetime(CH_election_dates)

# Define the winning parties (SVP = Blå, SP = Rød)
CH_periods = [
    ('1991-10-20', '2024-10-18', 'Blå')   # SVP
]

In [37]:
# Define election dates FI
FI_election_dates = [
    '1987-03-15',
    '1991-03-17',
    '1995-03-19',
    '1999-03-21',
    '2003-03-16',
    '2007-03-18',
    '2011-04-17',
    '2015-04-19',
    '2019-04-14',
    '2023-04-02'
]

# Convert election dates to datetime objects
FI_election_dates = pd.to_datetime(FI_election_dates)

# Define the winning parties (corrected to match Finnish political colors)
FI_periods = [
    ('1987-03-15', '1991-03-16', 'Blå'),  # Coalition Party (Kokoomus)
    ('1991-03-17', '1995-03-18', 'Blå'),  # Coalition Party (Kokoomus)
    ('1995-03-19', '2003-03-15', 'Rød'),  # Social Democrats
    ('2003-03-16', '2007-03-17', 'Rød'),  # Social Democrats
    ('2007-03-18', '2011-04-16', 'Blå'),  # Coalition Party (Kokoomus)
    ('2011-04-17', '2019-04-13', 'Rød'),  # Social Democrats
    ('2019-04-14', '2023-04-01', 'Rød'),  # Social Democrats
    ('2023-04-02', '2027-04-01', 'Blå')   # Coalition Party (Kokoomus)
]

In [38]:
# Define election dates BE
BE_election_dates = [
    '1991-11-24',
    '1995-05-21',
    '1999-06-13',
    '2003-05-18',
    '2007-06-10',
    '2010-06-13',
    '2014-05-25',
    '2019-05-26'
]

# Convert election dates to datetime objects
BE_election_dates = pd.to_datetime(BE_election_dates)

# Define the winning parties (Coalition, generally mix, using Rød or Blå based on predominant PM's party)
BE_periods = [
    ('1991-11-24', '1999-06-12', 'Blå'),  # Christian Democrats
    ('1999-06-13', '2024-06-12', 'Rød')   # Liberal and Socialist coalition, shifting predominantly to Rød
]

In [39]:
# Define election dates AT
AT_election_dates = [
    '1990-10-07',
    '1994-10-09',
    '1995-12-17',
    '1999-10-03',
    '2002-11-24',
    '2006-10-01',
    '2008-09-28',
    '2013-09-29',
    '2017-10-15',
    '2019-09-29'
]

# Convert election dates to datetime objects
AT_election_dates = pd.to_datetime(AT_election_dates)

# Define the winning parties (ÖVP = Blå, SPÖ = Rød)
AT_periods = [
    ('1990-10-07', '2000-02-03', 'Rød'),  # SPÖ
    ('2000-02-04', '2006-10-01', 'Blå'),  # ÖVP
    ('2006-10-02', '2024-09-28', 'Blå')   # ÖVP
]

In [40]:
# Define election dates PT
PT_election_dates = [
    '1991-10-06',
    '1995-10-01',
    '1999-10-10',
    '2002-03-17',
    '2005-02-20',
    '2009-09-27',
    '2011-06-05',
    '2015-10-04',
    '2019-10-06',
    '2022-01-30'
]

# Convert election dates to datetime objects
PT_election_dates = pd.to_datetime(PT_election_dates)

# Define the winning parties (PSD = Blå, PS = Rød)
PT_periods = [
    ('1991-10-06', '1995-10-01', 'Blå'),  # PSD
    ('1995-10-02', '2024-01-29', 'Rød')   # PS
]

In [41]:
# Define election dates GR
GR_election_dates = [
    '1990-04-08',
    '1993-10-10',
    '1996-09-22',
    '2000-04-09',
    '2004-03-07',
    '2007-09-16',
    '2009-10-04',
    '2012-05-06',
    '2012-06-17',
    '2015-01-25',
    '2015-09-20',
    '2019-07-07'
]

# Convert election dates to datetime objects
GR_election_dates = pd.to_datetime(GR_election_dates)

# Define the winning parties (New Democracy = Blå, PASOK/SYRIZA = Rød)
GR_periods = [
    ('1990-04-08', '1993-10-09', 'Blå'),  # New Democracy
    ('1993-10-10', '2004-03-06', 'Rød'),  # PASOK
    ('2004-03-07', '2009-10-03', 'Blå'),  # New Democracy
    ('2009-10-04', '2015-01-24', 'Rød'),  # PASOK/SYRIZA
    ('2015-01-25', '2024-07-06', 'Blå')   # New Democracy
]

In [42]:
# Define election dates IE
IE_election_dates = [
    '1992-11-25',
    '1997-06-06',
    '2002-05-17',
    '2007-05-24',
    '2011-02-25',
    '2016-02-26',
    '2020-02-08'
]

# Convert election dates to datetime objects
IE_election_dates = pd.to_datetime(IE_election_dates)

# Define the winning parties (Fine Gael = Blå, Fianna Fáil = Rød)
IE_periods = [
    ('1992-11-25', '2011-02-24', 'Rød'),  # Fianna Fáil
    ('2011-02-25', '2024-02-07', 'Blå')   # Fine Gael
]

In [43]:
# Define election dates LU
LU_election_dates = [
    '1994-06-12',
    '1999-06-13',
    '2004-06-13',
    '2009-06-07',
    '2013-10-20',
    '2018-10-14',
    '2023-10-08'
]

# Convert election dates to datetime objects
LU_election_dates = pd.to_datetime(LU_election_dates)

# Define the winning parties (Christian Social People's Party = Blå, LSAP = Rød)
LU_periods = [
    ('1994-06-12', '2013-10-19', 'Blå'),  # CSV
    ('2013-10-20', '2024-10-13', 'Rød')   # LSAP-led coalition
]

In [44]:
# Define election dates NO
NO_election_dates = [
    '1993-09-13',
    '1997-09-15',
    '2001-09-10',
    '2005-09-12',
    '2009-09-14',
    '2013-09-09',
    '2017-09-11',
    '2021-09-13'
]

# Convert election dates to datetime objects
NO_election_dates = pd.to_datetime(NO_election_dates)

# Define the winning parties (Høyre = Blå, Arbeiderpartiet = Rød)
NO_periods = [
    ('1993-09-13', '1997-09-14', 'Rød'),  # Labour
    ('1997-09-15', '2005-09-11', 'Blå'),  # Conservative
    ('2005-09-12', '2013-09-08', 'Rød'),  # Labour
    ('2013-09-09', '2024-09-12', 'Blå')   # Conservative
]

DK data

In [45]:
# Define the list of country abbreviations and corresponding column names
countries = {
    'DK': ('Danmark', DK_election_dates, DK_periods),
    'USA': ('USA', USA_election_dates, USA_periods),
    'UK': ('England', UK_election_dates, UK_periods),
    'DE': ('Tyskland', DE_election_dates, DE_periods),
    'FR': ('Frankrig', FR_election_dates, FR_periods),
    'IT': ('Italien', IT_election_dates, IT_periods),
    'ES': ('Spanien', ES_election_dates, ES_periods),
    'NL': ('Holland', NL_election_dates, NL_periods),
    'SE': ('Sverige', SE_election_dates, SE_periods),
    'CH': ('SCHWEIZ', CH_election_dates, CH_periods),
    'FI': ('Finland', FI_election_dates, FI_periods),
    'BE': ('Belgien', BE_election_dates, BE_periods),
    'AT': ('Østrig', AT_election_dates, AT_periods),
    'PT': ('Portugal', PT_election_dates, PT_periods),
    'GR': ('Grækenland', GR_election_dates, GR_periods),
    'IE': ('Irland', IE_election_dates, IE_periods),
    'LU': ('Luxembourg', LU_election_dates, LU_periods),
    'NO': ('NORWAY', NO_election_dates, NO_periods)
}

# Loop through the countries and create a DataFrame for each
for abbrev, (country_name, election_dates, periods) in countries.items():
    # Extract the relevant columns
    globals()[abbrev] = df.loc[:, ['Dates', country_name]].copy()
    
    # Optionally print the DataFrame for verification
    #print(f"{abbrev} DataFrame:")
    #print(globals()[abbrev].head())
    #print("\n")

Kode rens

In [46]:
# Loop through the countries and create a DataFrame for each
for abbrev, (country_name, election_dates, periods) in countries.items():
    df_country = df.loc[:, ['Dates', country_name]].copy()
    
    # Convert the 'Dates' column to datetime format
    df_country['Dates'] = pd.to_datetime(df_country['Dates'], format='%d-%m-%Y')

    # Generate a complete date range
    full_date_range = pd.date_range(start='1927-12-30', end='2024-08-08', freq='D')

    # Reindex the DataFrame to include the full date range, filling in missing dates
    df_country.set_index('Dates', inplace=True)
    df_country = df_country.reindex(full_date_range)

    # Reset the index to include 'Dates' as a column again
    df_country.reset_index(inplace=True)
    df_country.rename(columns={'index': 'Dates'}, inplace=True)

    # Add a new column 'Election' to indicate whether the row is an election date
    df_country['Election'] = df_country['Dates'].isin(election_dates)

    # Initialize the new column
    df_country['Color'] = pd.NA

    # Assign "Rød" or "Blå" based on the defined periods
    for start, end, color in periods:
        df_country.loc[(df_country['Dates'] >= start) & (df_country['Dates'] <= end), 'Color'] = color

    # Forward fill missing data to handle weekends and holidays
    df_country[country_name] = df_country[country_name].ffill()

    # Find the first valid index where the country column has a non-NaN value
    first_valid_index = df_country[country_name].first_valid_index()

    # Slice the DataFrame from that index onward
    df_country = df_country.loc[first_valid_index:].reset_index(drop=True)

    # Store the result in the global variable
    globals()[abbrev] = df_country

    # Optionally print the DataFrame for verification
    #print(f"{abbrev} DataFrame:")
    #print(df_country.head())
    #print("\n")

3M udregnes - Jeg skal prøve at regne 3M ud for måned som i USA istedet for specifik dato

In [47]:
# Loop through the countries and apply the process to each DataFrame
for abbrev, (country_name, election_dates, periods) in countries.items():
    # Rename the DataFrame from the country abbreviation to 'data'
    data = globals()[abbrev]

    # Ensure 'Dates' is set as the index for proper time series operations
    data.set_index('Dates', inplace=True)

    # Calculate direct returns for 3 months before each election date
    data['Return_3M'] = pd.NA

    for date in election_dates:
        if date in data.index:
            data.loc[date, 'Return_3M'] = (data.loc[date, country_name] / data.loc[date - pd.DateOffset(months=3), country_name] - 1) * 100

    # Reset the index to include 'Dates' as a column again
    data.reset_index(inplace=True)

    # Filter DataFrame to include only rows where 'Election' is True
    election_data = data[data['Election']].copy()  # Use .copy() to avoid SettingWithCopyWarning

    # Add the 'Incumbent' column: 1 if previous color was Blue (Blå), 0 if Red (Rød)
    election_data['Incumbent'] = election_data['Color'].shift(1).apply(lambda x: 'Blå' if x == 'Blå' else 'Rød')

    # Add the 'Winner' column: 1 if Blue (Blå), 0 if Red (Rød)
    election_data['Winner'] = election_data['Color'].apply(lambda x: 'Blå' if x == 'Blå' else 'Rød')

    # Add the 'Prediction' column based on the given conditions
    election_data['Prediction'] = election_data.apply(
        lambda row: (
            True if (row['Return_3M'] < 0 and row['Incumbent'] != row['Winner']) or 
                     (row['Return_3M'] > 0 and row['Incumbent'] == row['Winner'])
            else False
        ), axis=1
    )

    # Display the updated DataFrame for the current country without 'Election' and 'Color' columns
    print(f"Election data for {abbrev}:")
    display(election_data.drop(columns=['Election', 'Color']))
    print("\n")  # Add a newline for better readability between countries

Election data for DK:

           Dates   Danmark  Return_3M Incumbent Winner  Prediction
373   1990-12-12    92.020 -10.048876       Rød    Blå        True
1752  1994-09-21    96.450  -2.870091       Blå    Rød        True
3019  1998-03-11   222.440  10.948177       Rød    Rød        True
4369  2001-11-20   267.330 -10.812704       Rød    Blå        True
5545  2005-02-08   301.060   7.717629       Blå    Blå        True
6553  2007-11-13   486.840   0.335937       Blå    Blå        True
7955  2011-09-15   349.322 -19.138613       Blå    Rød        True
9327  2015-06-18   941.176    3.45083       Rød    Blå       False
10775 2019-06-05   973.315    -2.1435       Blå    Rød        True
12020 2022-11-01  1647.027  -8.759347       Rød    Rød       False

Election data for USA:

           Dates      USA Return_3M Incumbent Winner  Prediction
23685 1992-11-03   419.92 -1.216213       Rød    Rød       False
25148 1996-11-05   714.14  8.165336       Rød    Rød        True
26611 2000-11-07  1431.87 -3.207555       Rød    Blå        True
28067 2004-11-02  1130.55  2.162441       Blå    Blå        True
29530 2008-11-04  1005.75 -19.47687       Blå    Rød        True
30993 2012-11-06  1428.39  2.450098       Rød    Rød        True
32456 2016-11-08  2139.56 -1.895098       Rød    Blå        True
33912 2020-11-03  3369.16  2.262787       Blå    Rød       False

Election data for UK:

           Dates  England Return_3M Incumbent Winner  Prediction
3023  1992-04-09  2436.40 -2.462068       Rød    Blå        True
4871  1997-05-01  4445.00  3.957154       Blå    Rød       False
6369  2001-06-07  5948.30 -0.891399       Rød    Rød       False
7797  2005-05-05  4902.30 -0.793281       Rød    Rød       False
9624  2010-05-06  5260.99  3.953234       Rød    Blå       False
11451 2015-05-07  6886.95  0.488952       Blå    Blå        True
12214 2017-06-08  7449.98  1.572953       Blå    Blå        True
13131 2019-12-12  7273.47  -0.96941       Blå    Blå       False

Election data for DE:

           Dates  Tyskland  Return_3M Incumbent Winner  Prediction
11385 1990-12-02   1441.23 -11.554394       Rød    Blå        True
12799 1994-10-16   2105.73   0.578904       Blå    Blå        True
14241 1998-09-27   4561.58 -22.295509       Blå    Rød        True
15697 2002-09-22   3065.73 -27.565211       Rød    Rød       False
16789 2005-09-18   4986.50   8.294586       Rød    Blå       False
18259 2009-09-27   5581.41  16.852194       Blå    Blå        True
19715 2013-09-22   8675.73  11.380956       Blå    Blå        True
21178 2017-09-24  12592.35  -1.107794       Blå    Blå       False
22641 2021-09-26  15531.75   -0.48834       Blå    Rød        True

Election data for FR:

           Dates  Frankrig  Return_3M Incumbent Winner  Prediction
2859  1995-05-07   1927.41   3.045807       Rød    Blå       False
5414  2002-05-05   4354.92   1.095003       Blå    Blå        True
7241  2007-05-06   6068.83   6.906204       Blå    Blå        True
9068  2012-05-06   3161.97  -7.144808       Blå    Rød        True
10895 2017-05-07   5432.40  14.258792       Rød    Blå       False
12708 2022-04-24   6581.42  -3.040312       Blå    Blå       False

Election data for IT:

          Dates   Italien  Return_3M Incumbent Winner  Prediction
1229 2001-05-13  40162.00  -6.723645       Rød    Blå        True
3021 2006-04-09  37989.00   4.863776       Blå    Rød       False
3756 2008-04-13  33178.00 -11.203297       Rød    Blå        True
5534 2013-02-24  16233.28   3.820633       Blå    Rød       False
7368 2018-03-04  21912.14  -2.012198       Rød    Blå        True
9034 2022-09-25  21066.55  -4.758988       Blå    Blå       False

Election data for ES:

           Dates   Spanien  Return_3M Incumbent Winner  Prediction
2344  1993-06-06   2860.46   8.174973       Rød    Rød        True
3345  1996-03-03   3918.17  10.572196       Rød    Blå       False
4815  2000-03-12  12513.70   9.438104       Blå    Blå        True
6278  2004-03-14   8032.60   8.046379       Blå    Rød       False
7734  2008-03-09  12691.30 -19.774836       Rød    Rød       False
9085  2011-11-20   8310.10   2.065857       Rød    Blå       False
10576 2015-12-20   9717.10  -1.321188       Blå    Blå       False
10765 2016-06-26   7787.70 -11.400714       Blå    Blå       False
11801 2019-04-28   9506.00   4.894951       Blå    Blå        True
11997 2019-11-10   9393.70   7.260956       Blå    Blå        True

Election data for NL:

           Dates  Holland  Return_3M Incumbent Winner  Prediction
4138  1994-05-03   188.95  -4.348486       Rød    Rød       False
5602  1998-05-06   528.06  19.722493       Rød    Rød        True
7072  2002-05-15   503.83   1.150371       Rød    Blå       False
7324  2003-01-22   300.79 -12.203736       Blå    Blå       False
8724  2006-11-22   490.31   5.711267       Blå    Blå        True
10019 2010-06-09   320.63  -5.443982       Blå    Blå       False
10845 2012-09-12   336.10  15.098798       Blå    Blå        True
12490 2017-03-15   511.66   7.374297       Blå    Blå        True
13953 2021-03-17   680.71   8.957183       Blå    Blå        True

Election data for SE:

           Dates   Sverige  Return_3M Incumbent Winner  Prediction
1732  1991-09-15   200.363  -0.462013       Rød    Blå        True
2831  1994-09-18   282.063   3.983293       Blå    Rød       False
4294  1998-09-20   584.050 -21.586134       Rød    Rød       False
5750  2002-09-15   511.800 -16.061207       Rød    Rød       False
7213  2006-09-17  1025.470  12.715022       Rød    Blå       False
8676  2010-09-19  1081.976   2.598006       Blå    Blå        True
10132 2014-09-14  1388.590  -0.112218       Blå    Rød        True
11588 2018-09-09  1618.198   4.005723       Rød    Rød        True
13051 2022-09-11  1934.056  -2.850067       Rød    Rød       False

Election data for CH:

           Dates  SCHWEIZ  Return_3M Incumbent Winner  Prediction
1206  1991-10-20  1716.10  -1.060824       Rød    Blå        True
2669  1995-10-22  3120.40  10.253692       Blå    Blå        True
4132  1999-10-24  6876.90    1.09966       Blå    Blå        True
5588  2003-10-19  5247.30   6.865301       Blå    Blå        True
7051  2007-10-21  8937.20  -1.847902       Blå    Blå       False
8514  2011-10-23  5753.52  -4.615604       Blå    Blå       False
9970  2015-10-18  8715.73  -7.732658       Blå    Blå       False
11433 2019-10-20  9965.49   0.286403       Blå    Blå        True

Election data for FI:

           Dates  Finland  Return_3M Incumbent Winner  Prediction
1048  1991-03-17   424.70  15.020041       Rød    Blå       False
2511  1995-03-19   624.44  -7.856215       Blå    Rød        True
3974  1999-03-21  1506.35   5.422467       Rød    Rød        True
5430  2003-03-16  1160.51 -11.035218       Rød    Rød       False
6893  2007-03-18  3006.00   3.251424       Rød    Blå       False
8384  2011-04-17  2594.15  -3.020617       Blå    Rød        True
9847  2015-04-19  3551.66  14.221853       Rød    Rød        True
11303 2019-04-14  4187.86    8.10868       Rød    Rød        True
12752 2023-04-02  4777.66  -2.834435       Rød    Blå        True

Election data for BE:

           Dates  Belgien Return_3M Incumbent Winner  Prediction
328   1991-11-24  1095.98   -2.1918       Rød    Blå        True
1602  1995-05-21  1447.16  8.193216       Blå    Blå        True
3086  1999-06-13  3196.71 -3.701082       Blå    Rød        True
4521  2003-05-18  1960.88  7.133179       Rød    Rød        True
6005  2007-06-10  4507.90  2.960523       Rød    Rød        True
7104  2010-06-13  2463.85 -6.149058       Rød    Rød       False
8546  2014-05-25  3129.86  2.898041       Rød    Rød        True
10373 2019-05-26  3472.34 -3.674545       Rød    Rød       False

Election data for AT:

           Dates   Østrig  Return_3M Incumbent Winner  Prediction
1733  1990-10-07   996.55 -33.733858       Rød    Rød       False
3196  1994-10-09  1049.73   -0.49481       Rød    Rød       False
3630  1995-12-17   953.42  -5.951171       Rød    Rød       False
5016  1999-10-03  1116.00 -10.734283       Rød    Rød       False
6164  2002-11-24  1097.96  -2.619092       Rød    Blå        True
7571  2006-10-01  3868.27   3.271734       Blå    Blå        True
8299  2008-09-28  2998.08 -23.412082       Blå    Blå       False
10126 2013-09-29  2548.72   14.60175       Blå    Blå        True
11603 2017-10-15  3375.80   6.087175       Blå    Blå        True
12317 2019-09-29  3021.23   1.462548       Blå    Blå        True

Election data for PT:

           Dates  Portugal  Return_3M Incumbent Winner  Prediction
1004  1995-10-01   3932.19  -3.026693       Rød    Blå        True
2474  1999-10-10  10150.94    1.40941       Blå    Rød       False
3363  2002-03-17   7875.85   1.449509       Rød    Rød        True
4434  2005-02-20   8043.25   6.491503       Rød    Rød        True
6114  2009-09-27   8375.73  19.699113       Rød    Rød        True
6730  2011-06-05   7611.41   -3.68498       Rød    Rød       False
8312  2015-10-04   5216.81  -6.498392       Rød    Rød       False
9775  2019-10-06   4907.87  -5.485928       Rød    Rød       False
10622 2022-01-30   5521.86  -3.666589       Rød    Rød       False

Election data for GR:

           Dates  Grækenland  Return_3M Incumbent Winner  Prediction
1192  1990-04-08      671.99  36.262065       Rød    Blå       False
2473  1993-10-10      845.39   6.818038       Blå    Rød       False
3551  1996-09-22      963.94   7.146112       Rød    Rød        True
4846  2000-04-09     4934.81  -8.797373       Rød    Rød       False
6274  2004-03-07     2489.38  13.813756       Rød    Blå       False
7562  2007-09-16     4861.79  -0.790122       Blå    Blå       False
8311  2009-10-04     2593.43  17.294576       Blå    Rød       False
9256  2012-05-06      689.86 -12.119745       Rød    Rød       False
9298  2012-06-17      560.26 -26.744247       Rød    Rød       False
10250 2015-01-25      840.44 -15.220966       Rød    Blå        True
10488 2015-09-20      697.57   1.489823       Blå    Blå        True
11874 2019-07-07      894.66  18.589115       Blå    Blå        True

Election data for IE:

           Dates   Irland  Return_3M Incumbent Winner  Prediction
3612  1992-11-25  1193.90  -1.818242       Rød    Rød       False
5266  1997-06-06  3345.01   9.858318       Rød    Rød        True
7072  2002-05-17  5260.55   7.940159       Rød    Rød        True
8905  2007-05-24  9920.03   0.097575       Rød    Rød        True
10278 2011-02-25  2943.35  10.874004       Rød    Blå       False
12105 2016-02-26  6240.29  -8.388789       Blå    Blå       False
13548 2020-02-08  7151.47   4.975706       Blå    Blå        True

Election data for LU:

          Dates  Luxembourg  Return_3M Incumbent Winner  Prediction
159  1999-06-13    1071.430  11.309307       Rød    Blå       False
1986 2004-06-13    1039.309  -2.706556       Blå    Blå       False
3806 2009-06-07    1105.721  35.665129       Blå    Blå        True
5402 2013-10-20    1332.030  12.082225       Blå    Rød       False
7222 2018-10-14    1662.930  -0.039974       Rød    Rød       False
9042 2023-10-08    1378.118  -3.743485       Rød    Rød       False

Election data for NO:

          Dates    NORWAY  Return_3M Incumbent Winner  Prediction
622  1997-09-15   137.552   7.346767       Rød    Blå       False
2078 2001-09-10   143.447 -14.845002       Blå    Blå       False
3541 2005-09-12   267.547  18.264317       Blå    Rød       False
5004 2009-09-14   280.693   1.424019       Rød    Rød        True
6460 2013-09-09   462.860   4.405296       Rød    Blå       False
7923 2017-09-11   682.470   7.619648       Blå    Blå        True
9386 2021-09-13  1015.920   1.154003       Blå    Blå        True

In [48]:
# Create an Excel writer object
with pd.ExcelWriter('all_countries_data.xlsx', engine='xlsxwriter') as writer:
    # Loop through the countries and write each to a separate sheet
    for abbrev, (country_name, election_dates, periods) in countries.items():
        data = globals()[abbrev]  # Get the DataFrame for the current country
        
        # Write the DataFrame to a sheet named after the country's abbreviation
        data.to_excel(writer, sheet_name=abbrev, index=False)